#backgroundImg {
    background-image: url("landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

#heading {
    font-family: 'Lobster', cursive;
    color: black;
    text-align: center;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.jumbotron {
    height: 75%;
    width: 35%;
    box-shadow: 0 0.5rem 1rem 0 rgba(29, 28, 28, 0.1);
}
